{% extends 'AppBundle:default:layout.html.twig' %}

{% block body %}
    <div class="innerPageBlock clearfix">
        <div class="breadCrumbs clearfix">
            <div class="breadCrumbsBlock clearfixk">
                <ul>
                    <li class="home"><a href="/"></a></li>
                    <li><span>О нас</span></li>
                </ul>
            </div>
        </div>
        <section class="baseContent clearfix">
            <div class="baseContentBlock clearfix">
                <div class="searchBlock clearfix">
                    <div class="pageNameBlock">
                        О нас
                    </div>
                    {#<div class="searchContainer">#}
                    {#<form action="/">#}
                    {#<input class="searchBtn" type="submit" value="">#}
                    {#<input class="searchInput" type="text" placeholder="поиск...">#}
                    {#</form>#}
                    {#</div>#}
                </div>
                <div class="contentBlock">
                    <div class="encyclopediaWidget">
                        <div class="aboutBlock">
                            <h3>Как все начиналось</h3>
                            <br/>
                            <br/>
                            Кисловодский фарфор существует более 80 лет! Фарфоровое предприятие ООО "Дельта-Х"
                            образовано в 1992 году и работает на российском и европейском сырье.
                            <br/>
                            <br/>
                            История производства началась с выпуска подарочных ваз, шкатулок, конфетниц, декорированных
                            лепными цветочными композициями. Постепенно расширялся ассортимент, усложнялись формы
                            изделий, использовались новые техники декорирования, но при этом сохранялся принцип ручного
                            творческого исполнения, который лежит в основе работы художников и мастеров предприятия. И
                            поэтому уже в 1993 году продукция предприятия ООО "Дельта-X" была отнесена к изделиям
                            народных художественных промыслов.
                            <br/>
                            <br/>
                            Основу настоящего ассортимента составляют электрические самовары, настенные и настольные
                            светильники, шахматы, часы, вазы и другие изделия. Это полностью ручная работа, что придает
                            им неповторимую индивидуальность и уникальность. В изделиях предприятия можно выделить
                            характерные приемы декорирования, объединяющие весь выпускаемый ассортимент: объемная и
                            плоская лепнина, шликерная, ангобная, подглазурная и надглазурная росписи, аэрография,
                            процарапка.
                            <br/>
                            <br/>
                            Особенностью наших изделий стало соединение фарфора и природного камня - шахматы трех
                            моделей. Декор несет черты индивидуального почерка художника каждого комплекта.
                            Конструктивная сложность и исполнительная многодетальность отличает продукцию ООО "Дельта-X"
                            от других фарфоровых производителей данной местности. Сложные композиции состоят из
                            множества мелких и точно выполненных деталей - это результат высокой технологии производства
                            и качественного ручного исполнения. Оформление эксклюзивных изделий по индивидуальным
                            заказам. По желанию заказчика наносится фирменная символика, логотипы государственных
                            структур, изображение достопримечательностей городов, портреты, репродукции картин известных
                            художников и так далее.
                            <br/>
                            <br/>
                            Производство фарфоровых изделий ООО "Дельта-X" основано на неполном технологическом цикле.
                            Для производства используются краски, глазури, золото отечественных и европейских
                            производителей. На предприятии используются современные методы контроля по соблюдению всех
                            параметров технологических процессов и требований, определенных существующими ГОСТами и
                            техническими условиями.
                            <br/>
                            <br/>
                            ООО "Дельта-X" является лауреатом Всероссийской программы-конкурса "100 лучших товаров
                            России", "Покупайте российское", удостоено Золотым Знаком качества 21 века на Международной
                            выставке "Всемирная марка", лауреат премии "Семья России" в номинации "Семья года",
                            предприятие награждено дипломом "Лидер качества Ставрополья" и многими другими наградами.
                            <br/>
                            <br/>
                            С 2010 года продукция ООО "Дельта-X" относится к изделиям народных художественных промыслов
                            признанного художественного достоинства федерального значения.
                            <br/>
                            <br/>
                            <br/>

                            {% for reward in rewards %}
                                <h2>{{ reward.title }}</h2>
                                <ul class="slides">
                                    {% for rewardMedia in reward.rewardsMedia %}
                                        {% if rewardMedia.media %}
                                            {#{{ dump(articleMedia.media) }}#}
                                            <a data-fancybox="images_{{ loop.parent.loop.index }}" data-caption="Награды {{ reward.title }}"
                                               href="{% path rewardMedia.media, 'big' %}">
                                                <img src="{% path rewardMedia.media, 'prodPrev' %}" />
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <style>
        .aboutBlock {
            padding: 40px;
            background: white;
        }

        @media (max-width: 1024px) {
            .aboutBlock {
                padding: 20px 15px;
            }
        }

        .aboutBlock h3 {
            font-weight: bold;
            font-size: 18px;
        }
    </style>

    <div class="pusher"></div>
{% endblock %}