{% extends 'AppBundle:default:layout.html.twig' %}

{% block body %}
    <div class="innerPageBlock clearfix">
        <div class="breadCrumbs clearfix">
            <div class="breadCrumbsBlock clearfixk">
                <ul>
                    <li class="home"><a href="/"></a></li>
                    <li><span>Энциклопедия</span></li>
                </ul>
            </div>
        </div>
        <section class="baseContent clearfix">
            <div class="baseContentBlock clearfix">
                <div class="searchBlock clearfix">
                    <div class="pageNameBlock">
                        Энциклопедия
                    </div>
                    {#<div class="searchContainer">#}
                        {#<form action="/">#}
                            {#<input class="searchBtn" type="submit" value="">#}
                            {#<input class="searchInput" type="text" placeholder="поиск...">#}
                        {#</form>#}
                    {#</div>#}
                </div>
                <div class="contentBlock">
                    <div class="encyclopediaWidget">
                        <div class="encyclopediaBlock">
                            <div class="encyclopediaItem">
                                <span class="encyclopediaTitle">ТЕХНОЛОГИЯ ПРОИЗВОДСТВА ФАРФОРА</span>
                                <div class="encyclopediaBody">
                                    <p>
                                        Фарфор — благороднейший и наиболее совершенный вид керамики. От всех других видов он отличается рядом особых свойств, например, тем, что его масса не только на поверхности, но и в изломе абсолютно бела. Характерна также прозрачность в наиболее тонких местах черепка. Состоит фарфор из смеси различных сортов глины и просвечивающей глазури, которой покрыт черепок. Если дважды обожженная фарфоровая масса оставляется без глазури, как было принято на некоторых фарфоровых заводах при изготовлении мелкой пластики, медальонов, реже посуды, то образуется особый вид фарфора — бисквитный.
                                    </p>
                                    <a href="encyclopedia_item.html" class="encyclopediaMore">...подробнее</a>
                                </div>
                            </div>
                            <div class="encyclopediaItem">
                                <span class="encyclopediaTitle">ТЕХНОЛОГИЯ ПРОИЗВОДСТВА ФАРФОРА</span>
                                <div class="encyclopediaBody">
                                    <p>
                                        Фарфор — благороднейший и наиболее совершенный вид керамики. От всех других видов он отличается рядом особых свойств, например, тем, что его масса не только на поверхности, но и в изломе абсолютно бела. Характерна также прозрачность в наиболее тонких местах черепка. Состоит фарфор из смеси различных сортов глины и просвечивающей глазури, которой покрыт черепок. Если дважды обожженная фарфоровая масса оставляется без глазури, как было принято на некоторых фарфоровых заводах при изготовлении мелкой пластики, медальонов, реже посуды, то образуется особый вид фарфора — бисквитный.
                                    </p>
                                    <a href="encyclopedia_item.html" class="encyclopediaMore">...подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="pusher"></div>
{% endblock %}