{% extends 'AppBundle:default:layout.html.twig' %}

{% block body %}
    <div class="innerPageBlock clearfix">
        <div class="breadCrumbs clearfix">
            <div class="breadCrumbsBlock clearfixk">
                <ul>
                    <li class="home"><a href="/"></a></li>
                    <li><span>Энциклопедия</span></li>
                </ul>
            </div>
        </div>
        <section class="baseContent clearfix">
            <div class="baseContentBlock clearfix">
                <div class="searchBlock clearfix">
                    <div class="pageNameBlock">
                        Энциклопедия
                    </div>
                    {#<div class="searchContainer">#}
                        {#<form action="/">#}
                            {#<input class="searchBtn" type="submit" value="">#}
                            {#<input class="searchInput" type="text" placeholder="поиск...">#}
                        {#</form>#}
                    {#</div>#}
                </div>
                <div class="contentBlock">
                    <div class="encyclopediaWidget">
                        <div class="encyclopediaBlock">
                            {% for article in articles %}
                                <div class="encyclopediaItem">
                                    <span class="encyclopediaTitle">{{ article.title }}</span>
                                    <div class="encyclopediaBody">
                                        {{ article.prevDescription|raw }}
                                        <a href="/encyclopedia/item/{{ article.alias }}" class="encyclopediaMore">...подробнее</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="pusher"></div>
{% endblock %}