{% extends 'AppBundle:default:layout.html.twig' %}

{% block body %}
    {% include 'AppBundle:default:slider.html.twig' %}
    <div class="innerPageBlock clearfix">
        <div class="breadCrumbs clearfix">
            <div class="breadCrumbsBlock clearfixk">
                <ul>
                    <li class="home"><a href="index.html"></a></li>
                    <li><a href="/encyclopedia">Энциклопедия</a></li>
                    <li><span>технология производства фарфора</span></li>
                </ul>
            </div>
        </div>
        <section class="baseContent clearfix">
            <div class="baseContentBlock clearfix">
                <div class="searchBlock clearfix">
                    <div class="pageNameBlock">
                        Энциклопедия
                    </div>
                    <div class="searchContainer">
                        {#<form action="/">#}
                            {#<input class="searchBtn" type="submit" value="">#}
                            {#<input class="searchInput" type="text" placeholder="поиск...">#}
                        {#</form>#}
                    </div>
                </div>
                <div class="contentBlock">
                    <div class="content">
                        <a href="/encyclopedia" class="backToEncyclopedia"></a>
                        <h1 class="contentTitle">ТЕХНОЛОГИЯ ПРОИЗВОДСТВА ФАРФОРА</h1>
                        <p>
                            Фарфор — благороднейший и наиболее совершенный вид керамики. От всех других видов он
                            отличается рядом особых свойств, например, тем, что его масса не только на поверхности, но и
                            в изломе абсолютно бела. Характерна также прозрачность в наиболее тонких местах черепка.
                            Состоит фарфор из смеси различных сортов глины и просвечивающей глазури, которой покрыт
                            черепок. Если дважды обожженная фарфоровая масса оставляется без глазури, как было принято
                            на некоторых фарфоровых заводах при изготовлении мелкой пластики, медальонов, реже посуды,
                            то образуется особый вид фарфора — бисквитный.
                        </p>
                        <p>
                            В зависимости от состава фарфоровой массы и глазури различаются твердый и мягкий фарфор.
                            Промежуточный вид представлен так называемым костяным фарфором.<br/>
                            Твердый фарфор содержит в основном два исходных материала: каолин (чистая глина —
                            тугоплавкая, жирная и крайне пластичная масса) и полевой шпат (чаще всего в соединении с
                            белой слюдой — относительно легко плавится). К этим основным веществам добавляется кварц или
                            песок. Свойства фарфора зависят от пропорции двух главных веществ: чем больше каолина
                            содержит его масса, тем труднее ее плавить и тем она тверже. Смесь эту перемалывают,
                            замешивают, промывают и затем высушивают до тестообразного состояния. Возникает пластичная
                            масса, которую можно либо отливать в формах, либо обтачивать на гончарном круге.
                            Отформованные предметы дважды обжигаются, сначала при 600-800оС, а потом уже с глазурью —
                            при 1200-1500оС. Глазурь состоит из тех же компонентов, что и черепок, только в других
                            пропорциях, и благодаря этому соединяется с черепком в совершенно однородную массу. Глазурь
                            нельзя ни отбить, ни отслоить. Твердый фарфор отличается крепостью, сильной
                            сопротивляемостью температурам и кислотам, непроницаемостью, прозрачностью, раковистым
                            изломом, и, наконец, чистым колокольным звуком. В Европе он изобретен в 1708 году в Мейсене
                            Иоганом Фридрихом Бетгером.
                            Мягкий фарфор, именуемый также художественным или фриттовым, состоит преимущественно из
                            смесей стекловидных веществ, так называемых фритт, содержащих песок или кремень, селитру,
                            морскую соль, соду, квасцы и толченый алебастр. По истечении определенного времени плавления
                            к этой массе добавляют мергель, содержащий гипс и глину. Всю эту массу размалывают и
                            фильтруют, доводя до пластичного состояния. Отформованный предмет обжигается при
                            1100-1500оС, становясь сухим и непористым. Глазурь состоит преимущественно из стекла, то
                            есть из легкоплавкого вещества, богатого окисью свинца и содержащего песок, соду, поташ и
                            известь. Уже глазурованные изделия подвергаются вторичному обжигу при 1050-1000оС, для
                            соединения глазури с черепком. По сравнению с твердым, мягкий фарфор прозрачнее, белый цвет
                            его нежного, иногда почти сливочного тона, однако жароустойчивость этого фарфора ниже, излом
                            прямой, причем неглазурованная часть в изломе зерниста. Сначала европейский фарфор в
                            большинстве случаев был мягким, чему примером служат прекрасные и очень ценимые изделия
                            старого Севра. Изобретен он в XVI веке во Флоренции (фарфор Медичи).
                            Костяной фарфор представляет собой известный компромисс между твердым и мягким фарфором. Его
                            состав открыт в Англии, и там же около 1750 года началось его производство. Кроме каолина и
                            полевого шпата, он содержит фосфат извести из пережженной кости, делающий возможной более
                            легкую плавку. Обжигается костяной фарфор при 1100-1500оС. Здесь речь идет по существу о
                            твердом фарфоре, но таком, который путем примешивания пережженной кости делается мягче. Его
                            глазурь в основе та же, что на мягком фарфоре, но содержит кроме окиси свинца, некоторое
                            количество буры для лучшего соединения с черепком. При соответствующей температуре эта
                            глазурь плавится и прочно соединяется с черепком. По своим свойствам костяной фарфор
                            занимает промежуточное положение между твердым и мягким. Он выносливее и тверже мягкого
                            фарфора и менее проницаем, но у него довольно мягкая глазурь. Цвет его не такой белый, как у
                            твердого фарфора, но чище, чем у мягкого. Впервые костяной фарфор применен в 1748 году в Бау
                            Томасом Фраем.
                            Выделяются два принципиально разных вида декора: рельефный (пластическим образом
                            налепливаемый декор) и роспись. Рельефный декор вделан непосредственно в материал самого
                            предмета — граверным путем, перфорацией или посредством рельефообразных завышений. Предмет
                            либо отливается в формах вместе с рельефом, либо рельеф или же пластические части декора
                            (цветки, почки, листья, фигурки в качестве рукоятей и т.д.) формируются отдельно и потом
                            наклеиваются. Красочный декор исполняется либо под глазурью (inglazed), либо над глазурью.
                            Во время подглазурной росписи, особенно часто встречающейся на китайском фарфоре, окиси
                            металлов, способные вынести большую температуру (кобальт, гематит), наносятся
                            непосредственно на черепки и затем обжигаются вместе с глазурью. Современная технология
                            нанесения подглазурного декора так же основывается на высокой температурной выносливости
                            декоров, в связи с чем при обжиге 1100-1400 0С глазурь поднимается над декором и запекается
                            над ним. Благодаря этой технологии получается вечный декор , а посуду с «подглазурным»
                            декором можно использовать в микроволновых печах и в посудомоечных машинах. Старейшая
                            надглазурная техника — это роспись эмалевыми красками, палитра которых довольно ограничена.
                            На твердом фарфоре краски часто пластически выделяются на поверхности глазури, так как
                            обжигаться при высокой температуре они не могут и поэтому не соединяются с глазурью. На
                            мягком же фарфоре они нередко расплавляются вместе с глазурью и сливаются с ней. Так
                            называемые муфельные краски и позолоты также наносятся на глазурь. Муфельные краски
                            представляют собой окрашенные окислами металлов свинцовые или буровые глазури, которые
                            плавятся при низких температурах. Содержащаяся в краске глазурь действует наподобие плавня,
                            соединяя во время жара краску с фоновой глазурью, так что краска не выступает. Обжиг
                            происходит при 600-800С.
                        </p>
                        <br/>
                        <a href="#" class="adobeDownload"></a>
                        <a href="#" class="saveDownload"></a>
                    </div>
                    <div class="itInterestTitle">
                        <span class="titleIcon">
                            <img src="{{ asset('bundles/app/images/interest_icon.png') }}" alt=""/>
                        </span>
                        <h2>Это же так интересно</h2>
                    </div>
                    <div class="encyclopediaWidget">
                        <div class="encyclopediaBlock">
                            <div class="encyclopediaItem">
                                <span class="encyclopediaTitle">ТЕХНОЛОГИЯ ПРОИЗВОДСТВА ФАРФОРА</span>
                                <div class="encyclopediaBody">
                                    <p>
                                        Фарфор — благороднейший и наиболее совершенный вид керамики. От всех других
                                        видов он отличается рядом особых свойств, например, тем, что его масса не только
                                        на поверхности, но и в изломе абсолютно бела. Характерна также прозрачность в
                                        наиболее тонких местах черепка. Состоит фарфор из смеси различных сортов глины и
                                        просвечивающей глазури, которой покрыт черепок. Если дважды обожженная
                                        фарфоровая масса оставляется без глазури, как было принято на некоторых
                                        фарфоровых заводах при изготовлении мелкой пластики, медальонов, реже посуды, то
                                        образуется особый вид фарфора — бисквитный.
                                    </p>
                                    <a href="encyclopedia_item.html" class="encyclopediaMore">...подробнее</a>
                                </div>
                                <div class="encyclopediaLinks">
                                    <a href="#" class="adobeDownload"></a>
                                    <a href="#" class="saveDownload"></a>
                                </div>
                            </div>
                            <div class="encyclopediaItem">
                                <span class="encyclopediaTitle">ТЕХНОЛОГИЯ ПРОИЗВОДСТВА ФАРФОРА</span>
                                <div class="encyclopediaBody">
                                    <p>
                                        Фарфор — благороднейший и наиболее совершенный вид керамики. От всех других
                                        видов он отличается рядом особых свойств, например, тем, что его масса не только
                                        на поверхности, но и в изломе абсолютно бела. Характерна также прозрачность в
                                        наиболее тонких местах черепка. Состоит фарфор из смеси различных сортов глины и
                                        просвечивающей глазури, которой покрыт черепок. Если дважды обожженная
                                        фарфоровая масса оставляется без глазури, как было принято на некоторых
                                        фарфоровых заводах при изготовлении мелкой пластики, медальонов, реже посуды, то
                                        образуется особый вид фарфора — бисквитный.
                                    </p>
                                    <a href="encyclopedia_item.html" class="encyclopediaMore">...подробнее</a>
                                </div>
                                <div class="encyclopediaLinks">
                                    <a href="#" class="adobeDownload"></a>
                                    <a href="#" class="saveDownload"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="pusher"></div>
{% endblock %}