<footer class="footer clearfix">
    <div class="footerBlock clearfix">
        <div class="footerContacts">
            <div class="copyright">ООО «Дельта-Х» © 1992 - 2016</div>
            <a href="/"><img src="{{ asset('bundles/app/images/footer_logo_new.png') }}" alt="" /></a>
        </div>
    </div>
</footer>