<section class="mainBanner clearfix">
    <div class="bannerBlock">
        <div class="flexslider clearfix">
            {% if slides is defined %}
                <ul class="slides">
                {% for slide in slides %}
                    <li style="background: url({% path slide.media, 'reference' %});">
                        <p class="flex-caption">{{ slide.mainSliderText }}</p>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</section>