<section class="mainBanner clearfix">
    <div class="bannerBlock">
        <div class="flexslider clearfix">
            <ul class="slides">
                <li style="background: url({{ asset('bundles/app/images/slide_1.png') }});">
                    <p class="flex-caption">Создание парадных сервизов для торжественных приемов</p>
                </li>
                <li style="background: url({{ asset('bundles/app/images/slide_1.png') }});">
                    <p class="flex-caption">Создание парадных сервизов для торжественных приемов</p>
                </li>
            </ul>
        </div>
    </div>
</section>